# ========================
# Maven
# ========================
target/

# Maven Wrapper (keep it)
!.mvn/wrapper/maven-wrapper.jar

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# OS Files
# ========================
.DS_Store

# ========================
# Logs
# ========================
*.log
